button
{
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#google-btn
{
    display: flex;
    padding: 2px;
    font-size: 12pt;
    background-color: #1a73e8;
    color: white;
}

#google-btn:hover
{
    opacity: 0.75;
}

#google-btn svg
{
    width: 20px;
    padding: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: white;
}

#google-btn span
{
    padding: 0 36px;
    margin: auto;
}

#twitter-btn svg
{
    width: 14px;
    padding: 10px 14px;
}
