@use "colors";

.logo
{
    width: 100px;
}

.font-link
{
    font-size: 1rem;
    font-weight: 600;
}

.btn-nav-long
{
    width: 35%;
    padding: 1rem 1.5rem;
    margin-bottom: 0.75rem;
}

.btn
{
    @extend .font-link;

    &-main
    {
        color: #fff;
        background-color: colors.$main;
    

        &-lg
        {
            height: 4rem;
        }

        &:hover
        {
            background-color: colors.$main-dark;
            color: #fff;
        }
    }

    &-transparent
    {
        border: 2px solid colors.$main-light;

        &:hover
        {
            color: colors.$main-light;
        }
    }
}

.nav-link
{
    @extend .font-link;
    color: colors.$dark-gray;
}

.link
{
    @extend .font-link;
    color: colors.$main-light;
}

@media (min-width: 992px)
{
    .btn-nav-long
    {
        width: auto;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0px; 
    }

    .btn-transparent
    {
        border: 0px;
    }
}